@import "tailwindcss";

/* Base */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

/* Reset */

* {
  box-sizing: border-box;
}

/* Images */

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Hide Scrollbar */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Auto Scroll Animation */

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

/* Selection */

::selection {
  background: #06b6d4;
  color: white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}