{% extends "base.html" %}

{% block title %}Settings - TaskFlow{% endblock %}

{% block content %}

<div class="dashboard-page">

    <div class="dashboard-header">
        <div>
            <p class="eyebrow">Account</p>
            <h1>Settings</h1>
            <p class="dashboard-subtitle">
                Manage your TaskFlow account and preferences.
            </p>
        </div>
    </div>


    <div class="settings-grid">

        <section class="card settings-card">

            <div class="settings-icon">
                👤
            </div>

            <div>
                <h2>Profile</h2>
                <p>
                    Update your account information.
                </p>
            </div>

            <div class="settings-row">
                <span>Username</span>
                <strong>{{ request.user.username }}</strong>
            </div>

            <div class="settings-row">
                <span>Email</span>
                <strong>
                    {{ request.user.email|default:"Not added" }}
                </strong>
            </div>

        </section>


        <section class="card settings-card">

            <div class="settings-icon">
                🔐
            </div>

            <div>
                <h2>Security</h2>
                <p>
                    Manage your account security.
                </p>
            </div>

           <a
    href="{% url 'password_change' %}"
    class="secondary-button"
>
    Change Password
</a>

        </section>


        <section class="card settings-card">

            <div class="settings-icon">
                🔔
            </div>

            <div>
                <h2>Notifications</h2>
                <p>
                    Your TaskFlow notifications are enabled.
                </p>
            </div>

        </section>


        <section class="card settings-card danger-card">

            <div class="settings-icon">
                ⚠️
            </div>

            <div>
                <h2>Account</h2>
                <p>
                    Log out from your TaskFlow account.
                </p>
            </div>

            <div class="settings-action">
                <a
                    href="{% url 'logout' %}"
                    class="danger-button"
                >
                    Logout
                </a>
            </div>

        </section>

    </div>

</div>

{% endblock %}